.nav-active{
    color: white !important;
    background-color: rgb(55, 139, 248);
    
}

body{
   background-color: #15202B !important;
   color:white !important;
   background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0), #15202B),
    url('./assets/images/Başlıksız-1.png');
    background-repeat: no-repeat
}